<a href="https://colab.research.google.com/github/Technight27/Python-Codes/blob/main/Aug_23_DS_Day_3_Operators_%2C_Conditions_and_Loops_and_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= 500
b = 200
print (a <b)

False

In [ ]:
a= 500
b = 200
print (a ==b)

False

In [ ]:
a= 500
b = 200
print (a !=b)

True

In [ ]:
a= 500
b =500
print (a <b)

False

In [ ]:
a= 500
b =500
print (a <=b)

True

In [ ]:
a= 500
b =500
print (a >=b)

True

In [ ]:
a = 300
b = 200
c = 150
print (a<b)
print (c<b)

False
True

In [ ]:
a = 300
b = 200
c = 150
print (a<b)
print (c<b)
print ((a<b) and (c<b))

False
True
False

In [ ]:
print ((a<b) or (c<b))

True

In [ ]:
a = 300
b = 200
c = 150
print (a<b)
print (c>b)

False
False

In [ ]:
print ((a<b) and (c>b) )
print ((a<b) or (c>b) )

False
False

In [ ]:
print (not ((a<b) or (c>b) ))

True

In [ ]:
a =500
b =500
c = a
print (id (a))
print (id (b))
print (id (c))

2458245713392
2458246087024
2458245713392

In [ ]:
print (a is b)

False

In [ ]:
print (a is c)

True

In [ ]:
a = [10,20,30]
b =  [10,20,30]
c = a
print (id (a))
print (id (b))
print (id (c))

2458246003840
2458245729280
2458246003840

In [ ]:
c [1]= 222
c.append (50)
print (c)

[10, 222, 30, 50]

In [ ]:
print (a)

[10, 222, 30, 50]

In [ ]:
print (b)

[10, 20, 30]

In [ ]:
print (a is c)

True

In [ ]:
print (a is b)

False

In [ ]:
a = 500
b = 500
print (id (a))
print (id (b))

2458246087344
2458246087216

In [ ]:
a = 200
b = 200
print (id (a))
print (id (b))

2458162324112
2458162324112

In [ ]:
print (a is b)

True

In [ ]:
print ((id (a)) or (id (b)))

2458162324112

In [ ]:
print (10 and 20)

20

In [ ]:
x = [10,20,30,50,30,10]
print (20 in x)

True

In [ ]:
x = [10,20,30,50,30,10]
print (20 not in x)

False

In [ ]:
x = [10,20,30,50,30,10]
print (20 in x)

True

In [ ]:
x = [10,20,30,50,30,10]
print (25 in x)

False

In [ ]:
x = [10,20,30,50,30,10]
print (25 not in x)

True

In [ ]:
a = 500
if a < 1000:
    print (a)

500

In [ ]:
a = 500
if a < 100:
    print (a)

In [ ]:
a = 500
b =500
if a>=b:
    print (a)
    print (b)
    print ('A greater than = b')
if a<=b:
    print (a)
    print (b)
    print ('A less than = b')
if a == b:
    print (a)
    print (b)
    print ('A == b')

500
500
A greater than = b
500
500
A less than = b
500
500
A == b

In [ ]:
a = 500
b =500
if a>=b:
    print (a)
    print (b)
    print ('A greater than = b')
elif a<=b:
    print (a)
    print (b)
    print ('A less than = b')
elif a == b:
    print (a)
    print (b)
    print ('A == b')

500
500
A greater than = b

In [ ]:
a = 500
b =500
if a>b:
    print (a)
    print (b)
    print ('A greater than  b')
elif a<=b:
    print (a)
    print (b)
    print ('A less than = b')
elif a == b:
    print (a)
    print (b)
    print ('A == b')

500
500
A less than = b

In [ ]:
a = 500
b =500
if a>b:
    print (a)
    print (b)
    print ('A greater than  b')
elif a<=b:
    print (a)
    print (b)
    print ('A less than = b')
elif a == b:
    print (a)
    print (b)
    print ('A == b')

500
500
A less than = b

In [ ]:
a =100
b = 100
if a>b:
    print (a,'Greater than ', b)
elif b>a:
    print (b,'Greater than',a)
else:
    print (a,'and ',b ,'are equal')

100 and  100 are equal

In [ ]:
a =300
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

300 Greater than 200

In [ ]:
a =40
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')

elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [ ]:
a = 150
b = 200
if a<b:
    print (a,'is smaller than',b)
    if 10 <= a <=100:
        print (a,'is between 10 and 100')
    elif a<10:
        print (a,'is less than 10')

else:
    print (a,'is bigger number than',b)

150 is smaller than 200

In [ ]:
a = 40
b = 200
if a<b:
    print (a,'is smaller than',b)
    if 10 <= a <=100:
        print (a,'is between 10 and 100')
    elif a<10:
        print (a,'is less than 10')

else:
    print (a,'is bigger number than',b)

40 is smaller than 200
40 is between 10 and 100

In [ ]:
#While loop - Execution is based on condition - Add numbers still sum reaches 100
# For Loop - Fixed number of times - Add five numbers

In [ ]:
no1 = input ('Enter First Number ')
no2 = input ('Enter Second Number ')
total = no1+no2
print ('Sum of two numbers ', total)

Enter First Number 60
Enter Second Number 40
Sum of two numbers  6040

In [ ]:
no1 = input ('Enter First Number ')
no2 = input ('Enter Second Number ')
total = int (no1)+int (no2)
print ('Sum of two numbers ', total)

Enter First Number 50
Enter Second Number 60
Sum of two numbers  110

In [ ]:
total = 0
for i in range (5):
    print (i)

0
1
2
3
4

In [ ]:
total = 0
for i in range (5):
    no = input ('Enter the Number ')
    total = total+ int (no)
print ('Sum of Five Numbers', total)

Enter the Number 50
Enter the Number 30
Enter the Number 60
Enter the Number 10
Enter the Number 50
Sum of Five Numbers 200

In [ ]:
total = 500

In [ ]:
for i in range (5):
    no = input ('Enter the Number ')
    total = total+ int (no)
print ('Sum of Five Numbers', total)

Enter the Number 10
Enter the Number 50
Enter the Number 30
Enter the Number 20
Enter the Number 20
Sum of Five Numbers 630

In [ ]:
total = 0
for i in range (5):
    no = input ('Enter the Number ')
    total = total+ int (no)
print ('Sum of Five Numbers', total)

Enter the Number 50
Enter the Number 30
Enter the Number 30
Enter the Number 20
Enter the Number 50
Sum of Five Numbers 180

In [ ]:
total = 0
while total <100:
    no = input ('Enter the Number ')
    total = total+ int (no)
print ('Sum of Numbers', total)

Enter the Number 60
Enter the Number 40
Sum of Numbers 100

In [ ]:
total = 0
while total <100:
    no = input ('Enter the Number ')
    total = total+ int (no)
print ('Sum of Numbers', total)

Enter the Number 10
Enter the Number 20
Enter the Number 10
Enter the Number 15
Enter the Number 10
Enter the Number 12
Enter the Number 10
Enter the Number 20
Sum of Numbers 107

In [ ]:
a =1
while a <5:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
Program end

In [ ]:
a =1
while a <5:
    print ( 'The number is ',a)
    a+=2
print ('Program end')

The number is  1
The number is  3
Program end

In [ ]:
x = 2
print ('Loop Start')
while x < 10:
    print (x)
    x +=1
print ('Loop End ')

Loop Start
2
3
4
5
6
7
8
9
Loop End

In [ ]:
A = [10,15,20,25]
for i in range (len(A)):
    print (i)
print ('Good Day')

0
1
2
3
Good Day

In [ ]:
A = [10,15,20,25]
for i in A:
    print (i)
print ('Good Day')

10
15
20
25
Good Day

In [ ]:
A = [10,15,20,25]
for i in range (len(A)):
    print (i)
print ('Good Day')

0
1
2
3
Good Day

In [ ]:
A = [10,15,20,25]
for i in range (10):
    print (i)
print ('Good Day')

0
1
2
3
4
5
6
7
8
9
Good Day

In [ ]:
A = [10,15,20,25]
for i in range (10,20,2):
    print (i)
print ('Good Day')

10
12
14
16
18
Good Day

In [ ]:
A = [10,15,20,25]
for i in range (10,20,2):
    print (i)
print ('Good Day')

10
12
14
16
18
Good Day

In [ ]:
A = [10,15,20,25]
for i in range (0,len(A),2):
    print (i)
print ('Good Day')

0
2
Good Day

In [ ]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
'Sat'*3

'SatSatSat'

In [ ]:
str(4)*4

'4444'

In [ ]:
4*4

16

In [ ]:
str(0)*0

''

In [ ]:
for i in range (10):
    print (str(i)*i)

print ('Good Day')

1
22
333
4444
55555
666666
7777777
88888888
999999999
Good Day

In [ ]:
for i in range (10):
    print ((i)*i)

print ('Good Day')

0
1
4
9
16
25
36
49
64
81
Good Day

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        print('   ',j)

Pen
    School
    School
    College
    College
Pencil
    School
    School
    College
    College
Book
    School
    School
    College
    College
Toy
    School
    School
    College
    College

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        continue
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        break
        print('   ',j)

Pen
    School
Pencil
    School
Book
    School
Toy
    School

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    continue
    for j in B:
        print('   ',j)
        print('   ',j)

Pen
Pencil
Book
Toy

In [ ]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    break
    for j in B:
        print('   ',j)
        print('   ',j)

Pen

In [ ]:
for  i in range (5):
    pass

In [ ]:
def sales ():
    price = 50
    qty = 10
    amt =price *qty
    print (amt)

In [ ]:
sales()

500

In [ ]:
sales ()

500

In [ ]:
sales ()

500

In [ ]:
def sales (qty):
    price = 50
    amt =price *qty
    print (amt)

In [ ]:
sales ()

TypeError: sales() missing 1 required positional argument: 'qty'

In [ ]:
sales (5)

250

In [ ]:
sales (15)

750

In [ ]:
def sales (qty,price):
    amt =price *qty
    print (amt)

In [ ]:
sales()

TypeError: sales() missing 2 required positional arguments: 'qty' and 'price'

In [ ]:
sales (5,30)

150

In [ ]:
def sales (qty,price):
    amt =price *qty
    print (amt)

In [ ]:
sales (30,25)

750

In [ ]:
def sales (qty =10,price =50):
    amt =price *qty
    print (amt)

In [ ]:
sales ()

500

In [ ]:
sales (20)

1000

In [ ]:
sales (15,60)

900

In [ ]:
def sales (qty =10,price =50):
    amt =price *qty
    print (amt)

In [ ]:
sales (30)

1500

In [ ]:
sales (price =30)

300

In [ ]:
def sales (qty =10,price =50):
    amt =price *qty
    print (amt)

In [ ]:
sales()

500

In [ ]:
sales (5)

250

In [ ]:
s1= sales (5)
print (s1)

250
None

In [ ]:
s1

In [ ]:
def sales (qty =10,price =50):
    amt =price *qty
    print (amt)
    return(amt)

In [ ]:
s1= sales (5)
print (s1)

250
250

In [ ]:
s2= sales ()
print (s2)

500
500

In [ ]:
print (s1)

250

In [ ]:
def sales (qty =10,price =50):
    amt =price *qty
    print (amt)
    return(amt)

In [ ]:
sls = []
sls.append (sales())
sls

500

[500]

In [ ]:
sls.append (sales(8))
sls

400

[500, 400]

In [ ]:
sls.append (sales(5,100))
sls

500

[500, 400, 500]

In [ ]:

def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue
    new_financials = (profit ,profit_ratio)
    return (new_financials)

In [ ]:
financials (1000,900)

(100, 0.1)

In [ ]:
x = financials (1000,900)
x

(100, 0.1)

In [ ]:
x = financials (1000,900)
print ('Profit ', x[0] )
print ('Profit Ratio ', x[1] )

Profit  100
Profit Ratio  0.1

In [ ]:
def convertto (deg):
    F= (deg*9/5)+32
    return (F)

In [ ]:
convertto (20)

68.0

In [ ]:
convertto (30)

86.0

In [ ]:
temp = 38
temp= convertto (temp)
print (temp)

100.4